body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #adc0c1;
  overflow: hidden;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-weight: 800;
  font-feature-settings: "aalt";
}

.formulario{
  width: 100%;
  font-size: 25px;
  text-align: center;
  text-size-adjust: 30px;
  max-width: fit-content;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.274);
}

#container{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0b0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  border: 2px solid rgb(252, 252, 252);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.274);
}
